<!-- basics on html -->
<!-- this is a comment in html -->

<!-- Html is organized by elements -->

<!-- Elements are defined by tags -->
<p> this is new content</p>

<!-- Unlike python, which is a language defined by its whitespace, html is agnostic to whitespace, and defines elements based on tags that open and close elements of content -->

<!-- any tag: -->
<h1>Good
    <strong>morning</strong> 
           Oneil!</h1>

<p>Good
    <strong>morning</strong> 
           Oneil!</p>
<body>html generally ignores
    any 
    extra
    whitespace we give it
    but i'm one step closer
    to the edge and im about
    to <br>break<br> I can create spaces

I can also create lists.
<ol>
<li>one element</li>
    <li> two elements</li>
</ol>

<p>Click <a href="https://google.com">here</a> to go to google.</p>

</body>

<!-- very basics -->
<!-- make an opening tag -->
<!-- add attributes to the tag if needed -->
<!-- add the content -->
<!-- close the tag -->